<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-image: linear-gradient(45deg,#a2ffca, #b4b8d9,#7d769b,#57538a ); ">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <div class="scene">
                <div class="cube">
                    <div class="face front">
                        <a href="https://www.twitter.com/" id="front3">
                            <img src="~/Images/c.svg"
                                 width="100%" height="100%"/>
                        </a>
                    </div>
                    <div class="face back">

                        back
                    </div>
                    <div class="face left">left</div>
                    <div class="face right">right</div>
                    <div class="face top">top</div>
                    <div class="face bottom">bottom</div>
                </div>
            </div>
            @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;font-weight:bolder">
                &copy; @DateTime.Now.Year - My Site
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }

    .scene {
        width: 200px;
        height: 200px;
        perspective: 1000px;
    }

    .cube {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transform: rotateX(20deg) rotateY(20deg);
        animation: rotateCube 15s infinite linear;
    }

    .face {
        position: absolute;
        height: 100%;
        width: 100%;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
        display: flex;
        font-size: 20px;
    }

    .front {
        background-color: red;
        transform: rotateY(0deg) translateZ(100px);
    }

    .back {
        background-color: blue;
        transform: rotateY(180deg) translateZ(100px);
    }

    .left {
        background-color: green;
        transform: rotateY(-90deg) translateZ(100px);
    }

    .right {
        background-color: yellow;
        transform: rotateY(90deg) translateZ(100px);
    }

    .top {
        background-color: orange;
        transform: rotateX(90deg) translateZ(100px);
    }

    .bottom {
        background-color: purple;
        transform: rotateX(-90deg) translateZ(100px);
    }
</style>

<script type="text/javascript">
    let x = 0,
        y = 0;

    document.addEventListener('keydown', function (e) {
        if (e.keyCode == 37) y -= 5;
        if (e.keyCode == 39) y += 5;
        if (e.keyCode == 38) x += 5;
        if (e.keyCode == 40) x -= 5;

        document.querySelector('.cube').style.transform = `rotateY(${y}deg) rotateX(${x}deg)`;
    });



</script>